.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.link {
  padding: 1rem; 
}

.friend-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.friend {
  border: 2px solid black;
  width: 15%;
}


